＊{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}



body{
    height: 100%;
    margin: 0;
}



.all{
    width: 100%;
    overflow: hidden;
}


.first-view-switcher{
vertical-align: top;
width: 100vw;
height: 100vh;
background-image: url(image/firstview1.jpg);
background-size: cover;
background-position: center center;
animation-name:fadeInAnime;
animation-duration:2s;
animation-fill-mode:forwards;
opacity:0;
position: relative;
z-index: 1;
}

@keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }


.first-view-switcher h1{
    margin: 0;
}

.first-view-switcher ul{
position: fixed;
display: flex;
width: 573px;
justify-content: space-between;
padding: 20px 180px;
padding-left: 30px;
list-style: none;
margin: 0;
margin-right: 0;
float: left;
}

.first-view-switcher a{
    font-size: 16px;
    color: #D9D9D9;
    text-decoration: none;
    float: left;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.first-view-switcher a:hover{
    color : #A4AB2D;
    }

#menu-btn-check {
    display: none;
    }

.logo h3{
    font-size: 40px;
    color: white;
    display: flex;
    margin-top: 0;
    padding-right: 20px;
    padding-top: 9%;
    text-align: right;
    font-family: "urw-din-condensed", sans-serif;
    font-weight: 400;
}

.logo{
    padding-top: 0;
    padding-right: 15px;
    float: right;
    justify-content: flex-end;
}
.head-title{
    margin: 0;
    position: relative;
    bottom: -190px;
    left: 25px;
}
.head-title h1{
    color: #F3F4F4;
    font-size: calc(70px + 50 * (100vw - 300px) / 600);
    font-family: "urw-din-condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 0.9;
    text-shadow: 0px 4px 2px #424446;
}

#Next{
    padding: 0 285px;
    margin-top: 123px;
    margin-bottom: 123px;
    animation-name:fadeInAnime;
animation-duration:3s;
animation-fill-mode:forwards;
opacity:0;
}
.game h1{
    color: #424446;
    font-size: 90px;
    font-family: "urw-din-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 110px;
}

.about{
    gap: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #424446;
    padding: 30px 123px;
}

.about p{
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about h3{
    color:#F3F4F4;
}

.about a{
    color: #F3F4F4;

}

.udc-logo p{
    margin: 0;
    display: flex;
    justify-content: center;
}

.udc-logo img{
    width: 190px;
    height: 190px;
}

.soon{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.soon h3{
    font-size: 70px;
    margin: 0;
    font-family: "urw-din-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.soon a{
    display: block;
    font-size: 18px;
    color:#424446;
    background-color: #D9D9D9;
    width: 286px;
    text-align: center;
    text-decoration: none;
    padding: 11px 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 500;
    font-style: normal;
}

#what{
    background-color: #424446;
    padding: 94px 285px;
    animation-name:fadeInAnime;
animation-duration:3s;
animation-fill-mode:forwards;
opacity:0;
}

.what-title h1{
    color: #F3F4F4;
    font-size: 90px;
    font-family: "urw-din-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 110px;
    margin: 0;
    padding-bottom: 30px;
}

.past{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.past-main{
    width: 53%;
}

.past-main h3{
    font-size: 24px;
    color: #F3F4F4;
    margin: 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.past-main hr{
    width: 90%;
    margin: 0;
    color: #F3F4F4;

}

.past-main h2{
    color: #F3F4F4;
    font-size: 28px;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 0;
}


.past-main p{
    color: #F3F4F4;
    font-size: 20px;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    text-align: justify;
    margin: 0;
}


.past-img img{
    width: 340px;
    object-fit: cover;
}

.udl{
    padding-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}



.udl-img img{
    width: 340px;
    object-fit: cover;
}

.udl-main{
    width: 53%;
}

.udl-main h3{
    font-size: 24px;
    color: #F3F4F4;
    margin: 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.udl-main hr{
    width: 90%;
    margin: 0;
    color: #F3F4F4;
}

.udl-main h2{
    color: #F3F4F4;
    font-size: 28px;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 0;
}

.udl-main p{
    color: #F3F4F4;
    font-size: 20px;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    text-align: justify;
    margin: 0;
}

.comment h2{
    color: #F3F4F4;
    font-size: 28px;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 30px;
    text-align: justify;
}

.comment p{
    color: #F3F4F4;
    font-size: 20px;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    text-align: justify;
}

#result{
    padding: 0 285px;
    margin-top: 109px;
    margin-bottom: 109px;
    animation-name:fadeInAnime;
animation-duration:3s;
animation-fill-mode:forwards;
opacity:0;
}
.result-title h1{
    color: #424446;
    font-size: 90px;
    font-family: "urw-din-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 110px;
    margin: 0;
    padding-bottom: 30px;
    
}

.result-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #424446;
    height: 281px;
}


.gameon-img img{
    padding : 23px 19px;
    width: 395px;
    height: 239px;
    object-fit: cover;

}

.gameon a{
    display: block;
    font-size: 50px;
    color: #F3F4F4;
    width: 335px;
    height: 22px;
    text-decoration: none;
    padding-top: 88px;
    font-family: "urw-din-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gameon a:hover{
    color: #A4AB2D;
}

.gameon p{
    color: #F3F4F4;
    padding-top: 24px;
    padding-left: 4px;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: justify;
}


#voice{
    width: 100vw;
    background-color: #424446;
    padding: 30px 0;
    animation-name:fadeInAnime;
animation-duration:3s;
animation-fill-mode:forwards;
opacity:0;
}

.voice-title{
    padding: 26px 285px;   
}

.voice-title h1{
    color: #F3F4F4;
    font-size: 90px;
    font-family: "urw-din-condensed", sans-serif;
    font-weight: 400;
    margin: 0;
}

.voice-main{
    display: flex;
    justify-content: space-between;
    padding: 0 285px;
    padding-bottom: 50px;

}

.voice1 img{
    width: 340px;
    height: 208px; 
    object-fit: cover;
}

.voice1 a{
    display: block;
    font-size: 18px;
    color: #F3F4F4;
    height: 22px;
    text-decoration: none;
    padding-top: 4px;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
   
}

.voice1 a:hover{
    color: #A4AB2D;
}

.voice2 img{
    width: 340px;
    height: 208px;
    object-fit: cover;
}

.voice2 a{
    display: block;
    font-size: 18px;
    color: #F3F4F4;
    height: 22px;
    text-decoration: none;
    padding-top: 4px;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.voice2 a:hover{
    color: #A4AB2D;
}

#FQA{
   padding: 50px 299px;
    animation-name:fadeInAnime;
animation-duration:3s;
animation-fill-mode:forwards;
opacity:0;
}
.fqa-title h1{
    color: #424446;
    font-size: 90px;
    font-family: "urw-din-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.accordion {
    margin: 20px 0;
    }
    .toggle {
        display: none;
    }
    .option {
    position: relative;;
    margin-bottom: 1em;
    }
    .title,
    .content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
    }
    .title {
    border: solid 1px;
    display: block;
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: justify;
    background-color: #424446;
    }
    .title::after,
    .title::before {
    content: "";
    position: absolute;
    right: 1.25em;
    top: 0.7em;
    width: 2px;
    height: 0.75em;
    background-color: #F3F4F4;
    transition: all 0.3s;
    }
    .title::after {
    transform: rotate(90deg);
    }
    .content {
    max-height: 0;
    overflow: hidden;
    }
    .content p {
    margin: 0;
    padding: 0.5em 1em 1em;
    line-height: 30px;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: justify;

    }

    .toggle:checked + .title + .content {
    max-height: 500px;
    transition: all 1.5s;
    }

    .toggle:checked + .title::before {
        transform: rotate(45deg) !important;
        }
        .toggle:checked + .title::after {
        transform: rotate(135deg) !important;
        }

#Contact{
    background-color: #424446;
    padding: 30px 285px 50px 285px;
    animation-name:fadeInAnime;
animation-duration:3s;
animation-fill-mode:forwards;
opacity:0;
}

.contact-title h1{
    color: #F3F4F4;
    font-size: 90px;
    font-family: "urw-din-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.contact-main{
    display: flex;
    justify-content: center;
    gap: 0px 100px;
}

.twitter img{
    width: 171px;
    height :171px; 
    border-radius: 50%;
}

.twitter img:hover{
    box-shadow: 0 7px 10px #A4AB2D;
    border-color: transparent;
}
.contact-udl img{
    width: 171px;
    height :171px;
    border-radius: 50%;
}

.contact-udl img:hover{
    box-shadow: 0 7px 10px #A4AB2D;
    border-color: transparent;
}

.YouTube img{
    width: 171px;
    height :171px;
    border-radius: 50%;
}

.YouTube img:hover{
    box-shadow: 0 7px 10px #A4AB2D;
    border-color: transparent;
}

footer {
    text-align: center;
    color: #424446;
    font-family: "urw-din-condensed", sans-serif;
    margin: auto 0;
  }




  @media screen and (max-width:479px){

    

    body{
        width: 100vw;
        margin: 0;
        padding: 0;
    }


    .first-view-switcher{
        height: 100vh;
        background-image: url(image/re-firstview1.jpg);
    }

    #g-nav{
        /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
        position:fixed;
        z-index: 999;
        /*ナビのスタート位置と形状*/
        top:0;
        right: -120%;
        width:100%;
        height: 100vh;/*ナビの高さ*/
        background:#424446;
        /*動き*/
        transition: all 0.6s;
    }
    
    /*アクティブクラスがついたら位置を0に*/
    #g-nav.panelactive{
        right: 0;
    }
    
    /*ナビゲーションの縦スクロール*/
    #g-nav.panelactive #g-nav-list{
        /*ナビの数が増えた場合縦スクロール*/
        position: fixed;
        z-index: 999; 
        width: 100%;
        height: 100vh;/*表示する高さ*/
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    /*ナビゲーション*/
    #g-nav ul {
        /*ナビゲーション天地中央揃え*/
        position: absolute;
        z-index: 999;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 0;
        display: block;
    }
    
    /*リストのレイアウト設定*/
    
    #g-nav li{
        list-style: none;
        text-align: center;

    }
    
    #g-nav li a{
        color: #F3F4F4;
        text-decoration: none;
        padding:10px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
        width: 140px;
    }

    #g-nav li a:hover{
        color:  #A4AB2D;
    }
    
    /*========= ボタンのためのCSS ===============*/
    .openbtn{
        position:fixed;
        z-index: 9999;/*ボタンを最前面に*/
        top:10px;
        right: 10px;
        cursor: pointer;
        width: 50px;
        height:50px;
    }
        
    /*×に変化*/	
    .openbtn span{
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background-color: #D9D9D9;
          width: 45%;
      }
    
    .openbtn span:nth-of-type(1) {
        top:15px;	
    }
    
    .openbtn span:nth-of-type(2) {
        top:23px;
    }
    
    .openbtn span:nth-of-type(3) {
        top:31px;
    }
    
    .openbtn.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }
    
    .openbtn.active span:nth-of-type(2) {
        opacity: 0;
    }
    
    .openbtn.active span:nth-of-type(3){
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }

   
    .logo{
        display: none;
      }

    .head-title h1{
        font-size: 80px;
        line-height: 70px;
        position: absolute;
        width: 281px;
        height: 180px;
        left: 10px;
        top: 160px;
    }
    
    #Next{
        padding: 0 44px;
        margin-top: 30px;
        margin-bottom: 70px;
    }

    .game h1{
        font-size: 50px;
        margin: 0;
    }

    .about{
        flex-direction: column;
        padding: 35px 56px;
    }

   .udc-logo p{
    font-size: 20px;
   }

   .soon{
    gap: 10px;
    padding: 0;
   }

   .soon h3{
    font-size: 46px;
    text-align: center;

   }

   .soon a{
    width: 190px;
    height: 42px;
    padding: 0;
   }

   #what{
    padding: 44px 0;
   }

   .what-title{
    padding: 0 44px;
   }

   .what-title h1{
    font-size: 50px;
    padding-bottom: 0;
   }

   .past{
    display: flex;
    flex-direction: column;
   }

   .past-main{
    padding:0 44px ;
    width: 301px;
   }

   .past-main h3{
    font-size: 18px;
   }

   .past-main hr{
    width: 301px;
   }

   .past-main h2{
    font-size: 24px;
    
   }
   .past-img{
    margin: 0 auto;
   }

   .past-main p{
    font-size: 13px;
    line-height: 24px;
   }
   .past-img img{
    width: 302px;
    height: 162px;
   }

   .udl{
    display: block;
   }

   .udl-main{
    padding:0 44px ;
    width: 301px;
   }

   .udl-main h3{
    font-size: 18px;
   }

   .udl-main hr{
    width: 301px;
   }

   .udl-main h2{
    font-size: 24px;
   }

   .udl-main p{
    font-size: 13px;
    line-height: 24px;
   }

   .udl-img{
    padding: 0;
   }


   .udl-img img{
    width: 302px;
    height: 257px;
    padding-left: 44px;
   }

   .comment{
    padding-left: 44px;
    width: 301px;
   }

   .comment h2{
    font-size: 24px;
    margin: 0;
   }

   .comment p{
    font-size: 13px;
    line-height: 24px;
   }

   #result{
    padding: 0 44px;
    margin-top: 0;
    margin-bottom: 50px;
   }

   .result-title h1{
    font-size: 50px;
    padding-bottom: 0;
   }

   .result-main{
    flex-direction: column;
    width: 279px;
    height: 268px;
    margin-left: 10px;
   }

   .gameon-img img{
    width: 252px;
    height: 132px;
    padding-left: 12px;
    padding-top: 20px;
    padding-bottom: 0;
   }

   .gameon a{
    padding: 0;
    font-size: 32px;
    padding-left: 12px;
   }

   .gameon p{
    margin: 0;
    font-size: 16px;
    padding-left: 12px;
    padding-top: 15px;
   }

   #voice{
    height: 643px;
    padding: 30px 0;
   }

   .voice-title{
    padding: 26px 44px;
   }

   .voice-title h1{
    font-size: 50px;
    padding-bottom: 0;
   }

   .voice-main{
    padding: 0 62px;
   }

   .voice-main{
    flex-direction: column;
    width: 279px;
    height: 268px;
    padding: 0;
   }

   .voice1 img{
    width: 279px;
    height: 184px;
    padding:0 56px;
   }

   .voice1 a{
    font-size: 12px;
    padding-left: 56px;
   }

   .voice2 img{
    width: 279px;
    height: 184px;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 20px;
   }

   .voice2{
    padding: 0;
   }

   .voice2 a{
    font-size: 12px;
    padding-left: 56px;
   }

   .gameon a{
    padding: 0;
    font-size: 32px;
    padding-left: 12px;
   }

   .gameon p{
    margin: 0;
    font-size: 16px;
    padding-left: 12px;
    padding-top: 15px;
   }

   #FQA{
   padding: 44px;
   }

   .fqa-title h1{
    font-size: 50px;
   }


   .title{
    font-size: 15px;
   }

   #Contact{
    padding: 0 44px;
   }
   .content p{
    font-size: 13px;
    line-height: 20px;
    width: 262px;
   }

   .contact-title h1{
    font-size: 50px;
   }
   .contact-main{
    gap:  0px 15px;
    padding-top: 20px;
   }
   .twitter img{
    width: 90px;
    height: 90px;
   }
   .contact-udl img{
    width: 90px;
    height: 90px;
   }
   .YouTube img{
    width: 90px;
    height: 90px;
   }


}
