＊{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #424446;
}


.head-title h1{
    font-size: 90px;
    color: #F3F4F4;
    font-family: "urw-din-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    left: 30px;
    text-align: left;
    padding: 0 240px;
    padding-top: 50px;
}

.top-title img{
    width: 839px;
    height: 493px;
    padding: 0 240px;
}

.about{
    padding: 26px 240px;  
}

.about-title h2{
    color: #F3F4F4;
    font-size: 28px;
}

.about-main{
    display: flex;
    flex-direction: row;
}

.about-main-img img{
    width: 385px;
    height: 257px;
    padding-right: 64px;
    padding-top: 20px;
}

.about-dh h3{
    font-size: 24px;
    color: #F3F4F4;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.about-dh hr{
    margin: 0;
    color: #F3F4F4;
}

.about-dh p{
    font-size: 20px;
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin: 0;
}

.about-sn h3{
    font-size: 24px;
    color: #F3F4F4;
    margin-bottom: 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.about-sn hr{
    margin: 0;
    color: #F3F4F4;
}

.about-sn p{
    font-size: 20px;
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin: 0;
}

.about-sh h3{
    font-size: 24px;
    color: #F3F4F4;
    margin-bottom: 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.about-sh hr{
    margin: 0;
    color: #F3F4F4;
}

.about-sh p{
    font-size: 20px;
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin: 0;
}

.result{
    padding: 0 240px;
}

.result-title h2{
    color: #F3F4F4;
    font-size: 28px;
}

.result-dh{
    display: flex;
    flex-direction: row;
    padding-bottom: 61px;
}

.result-dh-img img{
    width: 385px;
    height: 257px;
    padding-right: 64px;
}

.result-dh-main h3{
    font-size: 24px;
    color: #F3F4F4;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.result-dh-main hr{
    margin: 0;
    color: #F3F4F4;
}

.result-dh-main p{
    font-size: 20px;
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin: 0;
}

.result-nh{
    display: flex;
    flex-direction: row;
    padding-bottom: 61px;
}

.result-nh-img img{
    width: 385px;
    height: 257px;
    padding-right: 64px;
}

.result-nh-main h3{
    font-size: 24px;
    color: #F3F4F4;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.result-nh-main hr{
    margin: 0;
    color: #F3F4F4;
}

.result-nh-main p{
    font-size: 20px;
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin: 0;
}

.result-sh{
    display: flex;
    flex-direction: row;
    padding-bottom: 61px;
}

.result-sh-img img{
    width: 385px;
    height: 257px;
    padding-right: 64px;
}

.result-sh-main h3{
    font-size: 24px;
    color: #F3F4F4;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.result-sh-main hr{
    margin: 0;
    color: #F3F4F4;
}

.result-sh-main p{
    font-size: 20px;
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin: 0;
}


@media screen and ( max-width:479px){
    .head-title h1{
        font-size: 70px;
    }
}