＊{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #424446;
}


.top-title h1{
    font-size: 90px;
    color: #F3F4F4;
    font-family: "urw-din-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    left: 30px;
    text-align: left;
    padding: 64px 240px;
    padding-top: 50px;
}

.top-title img{
    width: 839px;
    height: 493px;
    padding: 0 240px;
    object-fit: cover;
}

.about{
    padding: 26px 240px;  
}

.about-title h2{
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-size: 28px;
}

.about-main{
    display: flex;
    flex-direction: row;
}

.about-main-img img{
    width: 385px;
    height: 257px;
    padding-right: 64px;
    padding-top: 20px;
    object-fit: cover;
}

.about-dh h3{
    font-size: 24px;
    color: #F3F4F4;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.about-dh hr{
    margin: 0;
    color: #F3F4F4;
}

.about-dh p{
    font-size: 20px;
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin: 0;
}

.about-sn h3{
    font-size: 24px;
    color: #F3F4F4;
    margin-bottom: 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.about-sn hr{
    margin: 0;
    color: #F3F4F4;
}

.about-sn p{
    font-size: 20px;
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin: 0;
}

.about-sh h3{
    font-size: 24px;
    color: #F3F4F4;
    margin-bottom: 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.about-sh hr{
    margin: 0;
    color: #F3F4F4;
}

.about-sh p{
    font-size: 20px;
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin: 0;
}

.result{
    padding: 0 240px;
}

.result-title h2{
    color: #F3F4F4;
    font-size: 28px;
    font-family: 'yu-gothic-pr6n', sans-serif;
}

.result-dh{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 61px;
    justify-content: center;
}

.result-dh-img img{
    width: 385px;
    height: 257px;
    padding-right: 64px;
    object-fit: cover;
}

.result-dh-main h3{
    font-size: 24px;
    color: #F3F4F4;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.result-dh-main hr{
    margin: 0;
    color: #F3F4F4;
}

.result-dh-main p{
    font-size: 20px;
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin: 0;
}

.result-nh{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 61px;
    justify-content: center;
}

.result-nh-img img{
    width: 385px;
    height: 257px;
    padding-right: 64px;
    object-fit: cover;
}

.result-nh-main h3{
    font-size: 24px;
    color: #F3F4F4;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.result-nh-main hr{
    margin: 0;
    color: #F3F4F4;
}

.result-nh-main p{
    font-size: 20px;
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin: 0;
}

.result-sh{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 61px;
    justify-content: center;
}

.result-sh-img img{
    width: 385px;
    height: 257px;
    padding-right: 64px;
    object-fit: cover;
}

.result-sh-main h3{
    font-size: 24px;
    color: #F3F4F4;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.result-sh-main hr{
    margin: 0;
    color: #F3F4F4;
}

.result-sh-main p{
    font-size: 20px;
    color: #F3F4F4;
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin: 0;
}


@media screen and ( max-width:479px){

    body{
        width: 100vw;
        margin: 0;
    }

    .top-title h1{
        font-size: 50px;
        padding-top: 52px;
        padding-right: 44px;
        padding-left: 44px;
        padding-bottom: 0;
    }

    .top-title img{
        width: 302px;
        height: 178px;
        padding: 0 44px;
    }

    .about{
        padding: 10px 44px;
    }

    .about-title h2{
        font-size: 20px;
        margin-bottom: 0;
    }

    .about-main{
        flex-direction: column;
    }

    .about-main-img img{
        padding-top: 0;
        width: 302px;
        height: 178px;
    }

    
    .about-dh h3{
        font-size: 16px;
    }

    .about-dh hr{
        width: 302px;
    }

    .about-dh p{
        font-size: 13px;
    }

    .about-sn h3{
        font-size: 16px;
    }

    .about-sn hr{
        width: 302px;
    }

    .about-sn p{
        font-size: 13px;
    }

    .about-sh h3{
        font-size: 16px;
    }

    .about-sh hr{
        width: 302px;
    }

    .about-sh p{
        font-size: 13px;
    }

    .result{
        padding: 0 44px;
    }

    .result-title h2{
        font-size: 20px;
    }
    .result-dh{
        display: flex;
        flex-direction: column;
    }
    .result-nh{
        display: flex;
        flex-direction: column;
    }
    .result-sh{
        display: flex;
        flex-direction: column;
    }

    .result-dh-main h3{
        font-size: 16px;
    }

    .result-dh-main hr{
        width: 302px;
    }

    .result-dh-main p{
        font-size: 13px;
    }

    .result-dh-img img{
        padding-top: 10px;
        width: 302px;
        height: 178px;
    }

    .result-nh-main h3{
        font-size: 16px;
    }

    .result-nh-main hr{
        width: 302px;
    }

    .result-nh-main p{
        font-size: 13px;
    }

    .result-nh-img img{
        padding-top: 10px;
        width: 302px;
        height: 178px;
    }

    .result-sh-main h3{
        font-size: 16px;
    }

    .result-sh-main hr{
        width: 302px;
    }

    .result-sh-main p{
        font-size: 13px;
    }

    .result-sh-img img{
        padding-top: 10px;
        width: 302px;
        height: 178px;
    }
}